.our-products .page-title {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.our-products .page-title hr {
  width: 12rem;
  border: 2px solid var(--text-main-color);
}

/* 
@media (max-width: 767px) {
  .our-products .products-container {
    justify-content: center;
  }
}
.our-products .pagination-btn {
  margin: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.our-products .pagination-btn button {
  padding: 0.5rem;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
  margin: 0;
}
.our-products .pagination-btn button.active {
  background-color: #333 !important;
  color: var(--bg-main-color) !important;
} */
