.hero-section {
  display: flex;
}
.hero-section .carousel {
  width: 80%;
  padding: 20px 0 0 30px;
}

.hero-section .carousel .slides {
  width: 100%;
  height: 100%;
  display: flex;
  /* for slider */
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}
.hero-section .carousel .slides .slide {
  width: 100%;
  height: 100%;
  background-image: url(/e-commerce/public/coding.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  flex-shrink: 0;
  scroll-snap-align: start;
}

.hero-section .carousel .slides .slide .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff6;
  z-index: 1;
  cursor: pointer;
}
.hero-section .carousel .slides .slide .silde-content {
  position: absolute;
  width: 50%;
  bottom: 2rem;
  left: 4rem;
  z-index: 1;
  color: var(--text-main-color);
}
.hero-section .carousel .slides .slide h3 {
  font-size: 2.5rem;
}
.hero-section .carousel .slides .slide p {
  font-size: 1rem;
}
/*  */

.categories-menu {
  width: 20%;
  padding: 20px 10px 0 20px;
  border-right: 1px solid var(--border-main-color);
}
.categories-menu li {
  line-height: 30px;
}

/*  */
.porduct-container-1 {
  text-align: center;
}
.porduct-container-1 > div {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1rem 0px;
}
@media (max-width: 767px) {
  .hero-section {
    flex-direction: column;
  }
  .categories-menu {
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    margin: 1rem 0px;
    border-bottom: 1px solid var(--border-main-color);
    border-right: none;
    /* for slider */
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
  }
  .categories-menu li {
    flex-shrink: 0;
    scroll-snap-align: start;
    padding: 0 1.5rem 0 0.5rem;
    border-right: 1px solid var(--border-main-color);
  }
  .categories-menu li:last-child {
    border-right: none;
  }
  /*  */
  .hero-section .carousel {
    width: 100%;
    height: 16rem;
    padding: 1rem;
    display: flex;
  }
}
